/* styles/squid.css */
#squid-widget {
    border-radius: 12px;
    overflow: hidden;
  }
  
#squid-swap-source {
background-color: #342C90;
color: #FDFDFD;
}

#squid-swap-destination {
background-color: #181C63;
color: #FDFDFD;
}

#squid-submit-swap-btn {
background-color: #6C5BE0;
color: #FDFDFD;
}

#squid-submit-swap-btn:hover {
background-color: #4030FA;
}

.squid-router-transition-layer-active .tw-bg-grey-900 {
background-color: #363ed3;
}

.squid-router-transition-layer-active .tw-bg-grey-900 {
color: #F9FBFF;
}

.squid-router-transition-layer-active {
  background-color: #363ed3 !important;
}

.tw-font-squid-main .tw-bg-grey-900 {
  background-color: #363ed3;
}

.tw-font-squid-main .tw-min-h-full {
  min-height: 0;
}

.squid-router-transition-layer-active .tw-text-grey-300{
  color:  #F9FBFF;
}

.squid-router-transition-layer-active .tw-text-grey-500 {
  color: #d1e0fb;
}

.tw-group.tw-relative.tw-flex.tw-font-squid-main {
  height: 100%;
}
